

.list_gallery{
    .top_img{
        background-position: center center;
        height: 400px;
    }
    h2{
        font-size: 24px;
        text-align: center;
        margin: 50px 0;
        i{
            display: block;
            width: 28px;
            height: 2px;
            background: #E6C5B8;
            margin: 8px auto 14px;
        }
    }
}