
@import '~antd/dist/antd.css';
body,html{
    width: 100%;
    height: 100%;
}
.register-bg{
    width: 1349px;  height: 640px;
    margin-top:60px;
    background:url(/register/register_bg.jpg) no-repeat top center;
    position: relative;
    .form-box{
       
        .form{
               position: absolute;
                //width: 302px;
                top: 125px;
                padding: 26px 42px;
                border: 1px #E9E9E9 solid;
                background: #fff;
                right: 100px;
                    .regi-user{
                            width: 100%;
                            text-align: center;
                            line-height: 25px;
                            font-size: 18px;
                            color: #482618;
                            margin-bottom: 25px;
                            cursor: pointer;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            .action{
                                color:#c9c9c9;
                            }
                    }
                .form-input-item{
                        position: relative;
                        margin: 10px 0;
                    input{
                            width: 290px;
                            padding: 0 5px;
                            height: 36px;
                            border: 1px solid #efefef;
                            border-radius: 2px;
                            outline: none;
                            color: #442818;
                            line-height: 38px;
                           
                    }
                    #regiImgText{
                            float: left;
                            width: 128px;
                    }
                    #authCode{
                            float: left;
                            width: 128px;
                    }
                        .image-m{
                                float: left;
                                margin-left: 10px;
                                width: 150px;
                                height: 36px;
                                display: block;
                                .ImgItem{
                                         float: left;
                                        width: 114px;
                                        border: 1px solid #efefef;
                                        display: block;
                                        height: 36px;
                                        line-height: 36px;
                                        text-align: center;
                                        font-size: 18px;
                                }
                                i{
                                         float: left;
                                        height: 22px;
                                        width: 26px;
                                        display: block;
                                        background: url(/register/icon.png) no-repeat;
                                        background-position: -15px -41px;
                                        background-size: 310px 120px;
                                        margin: 8px 0 0 8px;
                                }
                        }
                        .yzm{
                            float: left;
                            margin-left: 10px;
                            .yz-box{
                                display: block;
                                line-height: 36px;
                                background: #FAFAFA;
                                width: 151px; 
                                height: 36px;
                                color: #000;
                                text-align: center;
                                &:hover{
                                        color: #000;
                                }
                            }
                        }
                        .pront-bgphone{
                                position: absolute;
                                 height: 16px;
                                width: 16px;
                                background: url(/images/header/icon.png) no-repeat;
                                background-position: -61px -44px;
                                background-size: 310px 120px;
                                right: 20px;
                                top: 10px;
                                display: none;
                         }
                        .pront-bgpassword{
                                position: absolute;
                                 height: 16px;
                                width: 16px;
                                background: url(/images/header/icon.png) no-repeat;
                                background-position: -61px -44px;
                                background-size: 310px 120px;
                                right: 20px;
                                top: 10px;
                                display: none;
                         }
                        .pront-bgImg{
                                position: absolute;
                                 height: 16px;
                                width: 16px;
                                background: url(/images/header/icon.png) no-repeat;
                                background-position: -61px -44px;
                                background-size: 310px 120px;
                                left: 100px;
                                top: 10px;
                                display: none;
                         }

                }
                .regi-button{
                        display: block;
                        background: #442818;
                        border-radius: 2px;
                        height: 48px;
                        width: 302px;
                        line-height: 48px;
                        text-align: center;
                        font-size: 18px;
                        color: #fff;
                        border: 0;
                        cursor: pointer;
                        color: #fff;
                        margin-top:40px;
                }
                    .reading-protocol{
                            margin-top: 15px;
                            height: 16px;
                            line-height: 16px;
                            color: #744F3A;
                            a{
                                color: #2a99fa;
                            }
                    }
                        .reading-protocolbox{
                                width: 302px;
                                margin-top:15px; 
                                label{
                                        float: left;
                                }
                                .reading-right{
                                    float: right;  
                                    span{
                                        cursor: pointer;
                                    }  
                                }
                        }
                        .point{
                                position: absolute;
                                top: 345px;
                                left: 42px;
                                color: red;
                        }
                        .point_name{
                                color: red;
                                line-height: 10px;
                        }
            }
    }
}