
.section-box{
    padding-top: 80px;
    width: 100%;
}


.com-list{
    line-height: 50px;
    overflow: hidden;
    height: 50px;
    dt{
        color: #9B9B9B;
        float: left;
        margin: 0 13px;
        margin-right: 38px;
    }
    dd{
        float: left;
        margin: 0 13px;

        .active{
            color: #BB9772;
        }
    }
    .disable{
        a{
            color: #bbb
        }
    }
}